PushData/Recognition/App_WebReferences/MIX1/Services/Updater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateAttribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Obj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Instance" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Updated" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAttributeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateAttributeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAttribute" />
  </wsdl:message>
  <wsdl:message name="UpdateAttributeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAttributeHttpGetIn">
    <wsdl:part name="DataSource" type="s:string" />
    <wsdl:part name="ObjectClass" type="s:string" />
    <wsdl:part name="DataClass" type="s:string" />
    <wsdl:part name="Attribute" type="s:string" />
    <wsdl:part name="Obj" type="s:string" />
    <wsdl:part name="Instance" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Updated" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAttributeHttpGetOut" />
  <wsdl:message name="UpdateAttributeHttpPostIn">
    <wsdl:part name="DataSource" type="s:string" />
    <wsdl:part name="ObjectClass" type="s:string" />
    <wsdl:part name="DataClass" type="s:string" />
    <wsdl:part name="Attribute" type="s:string" />
    <wsdl:part name="Obj" type="s:string" />
    <wsdl:part name="Instance" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Updated" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAttributeHttpPostOut" />
  <wsdl:portType name="UpdaterSoap">
    <wsdl:operation name="UpdateAttribute">
      <wsdl:input message="tns:UpdateAttributeSoapIn" />
      <wsdl:output message="tns:UpdateAttributeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdaterHttpGet">
    <wsdl:operation name="UpdateAttribute">
      <wsdl:input message="tns:UpdateAttributeHttpGetIn" />
      <wsdl:output message="tns:UpdateAttributeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdaterHttpPost">
    <wsdl:operation name="UpdateAttribute">
      <wsdl:input message="tns:UpdateAttributeHttpPostIn" />
      <wsdl:output message="tns:UpdateAttributeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdaterSoap" type="tns:UpdaterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAttribute">
      <soap:operation soapAction="http://tempuri.org/UpdateAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdaterSoap12" type="tns:UpdaterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAttribute">
      <soap12:operation soapAction="http://tempuri.org/UpdateAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdaterHttpGet" type="tns:UpdaterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateAttribute">
      <http:operation location="/UpdateAttribute" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdaterHttpPost" type="tns:UpdaterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateAttribute">
      <http:operation location="/UpdateAttribute" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Updater">
    <wsdl:port name="UpdaterSoap" binding="tns:UpdaterSoap">
      <soap:address location="http://updater.mix.phactori.pvt/Updater.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdaterSoap12" binding="tns:UpdaterSoap12">
      <soap12:address location="http://updater.mix.phactori.pvt/Updater.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdaterHttpGet" binding="tns:UpdaterHttpGet">
      <http:address location="http://updater.mix.phactori.pvt/Updater.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdaterHttpPost" binding="tns:UpdaterHttpPost">
      <http:address location="http://updater.mix.phactori.pvt/Updater.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>