PushData/MIX2.Data/Service References/ServiceProxies.Recognition/Recognition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Recognition" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRecognition_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:9143/Recognition.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:9143/Recognition.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecognition_RegisterSource_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSource" />
  </wsdl:message>
  <wsdl:message name="IRecognition_RegisterSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_ExchangeToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeToken" />
  </wsdl:message>
  <wsdl:message name="IRecognition_ExchangeToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_VerifyToken_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyToken" />
  </wsdl:message>
  <wsdl:message name="IRecognition_VerifyToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_ExchangeKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeKey" />
  </wsdl:message>
  <wsdl:message name="IRecognition_ExchangeKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_GetSignatureTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignatureTemplate" />
  </wsdl:message>
  <wsdl:message name="IRecognition_GetSignatureTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignatureTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_EmulateClientDecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:EmulateClientDecrypt" />
  </wsdl:message>
  <wsdl:message name="IRecognition_EmulateClientDecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmulateClientDecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_EmulateClientEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:EmulateClientEncrypt" />
  </wsdl:message>
  <wsdl:message name="IRecognition_EmulateClientEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmulateClientEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_GetEmulationKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmulationKey" />
  </wsdl:message>
  <wsdl:message name="IRecognition_GetEmulationKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmulationKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IRecognition_SendObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SendObject" />
  </wsdl:message>
  <wsdl:message name="IRecognition_SendObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecognition">
    <wsdl:operation name="RegisterSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/RegisterSource" message="tns:IRecognition_RegisterSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/RegisterSourceResponse" message="tns:IRecognition_RegisterSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExchangeToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/ExchangeToken" message="tns:IRecognition_ExchangeToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/ExchangeTokenResponse" message="tns:IRecognition_ExchangeToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/VerifyToken" message="tns:IRecognition_VerifyToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/VerifyTokenResponse" message="tns:IRecognition_VerifyToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExchangeKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/ExchangeKey" message="tns:IRecognition_ExchangeKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/ExchangeKeyResponse" message="tns:IRecognition_ExchangeKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignatureTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/GetSignatureTemplate" message="tns:IRecognition_GetSignatureTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/GetSignatureTemplateResponse" message="tns:IRecognition_GetSignatureTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmulateClientDecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/EmulateClientDecrypt" message="tns:IRecognition_EmulateClientDecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/EmulateClientDecryptResponse" message="tns:IRecognition_EmulateClientDecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmulateClientEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/EmulateClientEncrypt" message="tns:IRecognition_EmulateClientEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/EmulateClientEncryptResponse" message="tns:IRecognition_EmulateClientEncrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmulationKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/GetEmulationKey" message="tns:IRecognition_GetEmulationKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/GetEmulationKeyResponse" message="tns:IRecognition_GetEmulationKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecognition/SendObject" message="tns:IRecognition_SendObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecognition/SendObjectResponse" message="tns:IRecognition_SendObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecognition" type="tns:IRecognition">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRecognition_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterSource">
      <soap:operation soapAction="http://tempuri.org/IRecognition/RegisterSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExchangeToken">
      <soap:operation soapAction="http://tempuri.org/IRecognition/ExchangeToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyToken">
      <soap:operation soapAction="http://tempuri.org/IRecognition/VerifyToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExchangeKey">
      <soap:operation soapAction="http://tempuri.org/IRecognition/ExchangeKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignatureTemplate">
      <soap:operation soapAction="http://tempuri.org/IRecognition/GetSignatureTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmulateClientDecrypt">
      <soap:operation soapAction="http://tempuri.org/IRecognition/EmulateClientDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmulateClientEncrypt">
      <soap:operation soapAction="http://tempuri.org/IRecognition/EmulateClientEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmulationKey">
      <soap:operation soapAction="http://tempuri.org/IRecognition/GetEmulationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendObject">
      <soap:operation soapAction="http://tempuri.org/IRecognition/SendObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Recognition">
    <wsdl:port name="BasicHttpBinding_IRecognition" binding="tns:BasicHttpBinding_IRecognition">
      <soap:address location="https://localhost:9143/Recognition.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>