PushData/MIX2.Acquisition.Pusher/DataSources/DataSourceMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DataSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ObjectClass" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataClass" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Object" type="xs:string" />
										<xs:element maxOccurs="unbounded" name="Attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="Name" type="xs:string" use="required" />
														<xs:attribute name="Period" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="Period" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
						<xs:attribute name="Period" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="Period" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>